{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- with .Description }}
    <div class="post-description">
        {{ . }}
    </div>
    {{- end }}
</header>

{{- $categoryPages := where site.Pages "Kind" "term" }}
{{- $categoryPages = where $categoryPages "Type" "categories" }}
{{- $categoryPages = where $categoryPages "Weight" "gt" 0 }}

<ul class="terms-tags">
    {{- range sort $categoryPages "Weight" "asc" }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }} <sup><strong><sup>{{ len .Pages }}</sup></strong></sup></a>
    </li>
    {{- end }}
</ul>

{{- end }}
