{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>작성 %s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if and (.Param "ShowLastMod") (not .Lastmod.IsZero) (.Lastmod.After .Date) (ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>수정 %s</span>" (.Lastmod) (.Lastmod | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words" .WordCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) }}
        {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
    {{- end }}
{{- end }}

{{- with .GetTerms "categories" -}}
    {{- $categories := slice }}
    {{- range . }}
        {{- $categories = $categories | append (printf "<a class='post-category-link' href='%s'>%s</a>" .RelPermalink (.LinkTitle | htmlEscape)) }}
    {{- end }}
    {{- with $categories }}
        {{- $scratch.Add "meta" (slice (printf "<span>카테고리: %s</span>" (delimit . ", "))) }}
    {{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
